#header {
				position: relative;
				float: right;
				margin:auto;
				width:500px;
				font-family:Arial, Helvetica, sans-serif;
			}
ul, ol {
		list-style:none;
		}

.nav {
    width:500px; /*Le establecemos un ancho*/
		margin:0 auto; /*Centramos automaticamente*/
	}

.nav > li {
			float:left;
}

.nav li a {
		background-color:#000;
		color:#fff;
		text-decoration:none;
		padding:10px 12px;
		display:block;
}

.nav li a:hover {
	background-color:#434343;
}

.nav li ul {
		display:none;
		position:absolute;
		min-width:140px;
	}

.nav li:hover > ul {
		display:block;
	}

.nav li ul li {
	position:relative;
}
.nav li ul li ul {
	right:-140px;
	top:0px;
}

.contenedor{
display: grid;
height: 100vh;
grid-template-rows: 3em 7em 1fr 1fr 15em ;
}

.titulo{
position: relative;
font-family: 'Hind', sans-serif;
font-size: 5em;
top:5%;
text-align: center;
background-image: url("../img/tutoriales/tituloFondo.png");
font-family: 'Lemonada', cursive;
}


.descripcion{

position: relative;
top:20%;
font-family: 'Libre Baskerville', serif;
font-size: 3ex;
color: black;
text-align: justify;
background-color: white;
}

.imagen1{
	position: relative;
	top: 15%;
	left: 40%;
}

.ofrece{
  position: relative;
  top: 20%;
	/*background-image: url("../img/tutoriales/FondoAcordion.jpg");*/
	background-color:black;
}
.accordion {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border: white 1px groove;
	background: black;
	text-align: center;
	font-size: 1.25em;
	font-family: 'Lemonada', cursive;

}
.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
	position: relative;
	top:5;
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
	font-size: 1.10em;
	font-family: 'Titillium Web', sans-serif;
}

.proximamente{
	color: white;
	background-color: black;
	position: relative;
	top:30%;
	font-size: 3ex;
	font-family: 'Karla', sans-serif;
}

.negritas{
	font-weight: bold;
}
