.contenedor{
display: grid;
height: 100vh;
grid-template-rows: 30em  ;

}

.titulo{
font-family: 'Hind', sans-serif;
font-size: 3em;
text-align: center;
}

.descripcion{
position: relative;
top:20%;
font-family: 'Libre Baskerville', serif;
font-size: 1.5em;
color: blue;
text-align: justify;
}

